spawn-sh-at-startup 'lisgd -v -d /dev/input/by-path/pci-0000:00:17.0-platform-i2c_designware.4-event -g "1,LR,L,*,R,niri msg action focus-column-left" -g "1,RL,R,*,R,niri msg action focus-column-right" -g "1,DU,B,*,R,niri msg action open-overview" -g "2,UD,T,*,R,niri msg action close-window"'
