layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="horizontal" {
        pane {
            cwd "/data/hdd4/jav"
            command "yazi"
            focus true
        }
        pane {
            cwd "/data/hdd4/jav"
            command "sqlit"
        }
    }

    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
